In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\iris.csv')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [4]:
features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

X = df[features]
y = df['class']

In [5]:
# 트레이닝/테스트 데이터 분할

from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te = train_test_split(X,y,random_state = 0)

In [6]:
# 데이터 표준화

from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)  # X_tn 데이터 평균0, 분산 1로 표준화
X_tn_std = std_scale.transform(X_tn)
X_te_std = std_scale.transform(X_te)

In [7]:
# 학습

from sklearn.neighbors import KNeighborsClassifier
clf_knn = KNeighborsClassifier(n_neighbors = 2)
clf_knn.fit(X_tn_std, y_tn)

KNeighborsClassifier(n_neighbors=2)

In [8]:
# 예측

knn_pred = clf_knn.predict(X_te_std)
print(knn_pred)

[2 1 0 2 0 2 0 1 1 1 1 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 2]

In [9]:
# 정확도

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_te, knn_pred)
print(accuracy)

0.9473684210526315

In [10]:
# 정밀도(precision)

from sklearn.metrics import precision_score

precision = precision_score(y_te, knn_pred, average = 'macro')
print(precision)

0.9421296296296297

In [11]:
#리콜 

from sklearn.metrics import recall_score
recall = recall_score(y_te, knn_pred, average = 'macro')
print(recall)

0.9421296296296297

In [12]:
# F1 스코어

from sklearn.metrics import f1_score

f1 = f1_score(y_te, knn_pred, average = 'macro')
print(f1)

0.9421296296296297

In [13]:
#cnofusion matrix 확인

from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_te, knn_pred)
print(conf_matrix)

[[13  0  0]
 [ 0 15  1]
 [ 0  1  8]]

In [14]:
# 분류 레포트 확인

from sklearn.metrics import classification_report
class_report = classification_report(y_te, knn_pred)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       0.94      0.94      0.94        16
           2       0.89      0.89      0.89         9

    accuracy                           0.95        38
   macro avg       0.94      0.94      0.94        38
weighted avg       0.95      0.95      0.95        38

In [15]:
# 선형회귀분석

df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\boston_house_prices.csv')

In [16]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
features = ['CRIM', 'ZN', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO','B', 'LSTAT']

X = df[features]
y = df['MEDV']

In [18]:
# 트레이닝/테스트 데이터 분할

from sklearn.model_selection import train_test_split

X_tn, X_te, y_tn, y_te = train_test_split(X,y,random_state =0)

In [19]:
# 데이터 표준화

from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)  # X_tn 데이터 평균0, 분산 1로 표준화
X_tn_std = std_scale.transform(X_tn)
X_te_std = std_scale.transform(X_te)

In [20]:
# 학습

from sklearn.linear_model import LinearRegression
clf_Ir = LinearRegression()
clf_Ir.fit(X_tn_std, y_tn)

LinearRegression()

In [21]:
# 선형 회귀분석 모형 추정 계수 확인

print(clf_Ir.coef_)
print(clf_Ir.intercept_)

[-0.96989125  1.04937475  0.59207918 -1.8200537   2.61249079 -0.1969206
 -2.99326153  2.09757099 -1.96152193 -2.16155146  0.7526965  -3.59332885]
22.608707124010557

In [22]:
# 릿지 회귀분석(L2 제약식 적용)

from sklearn.linear_model import Ridge
clf_ridge = Ridge(alpha = 1)
clf_ridge.fit(X_tn_std, y_tn)

Ridge(alpha=1)

In [23]:
# 라쏘 회귀분석(L1 제약식 적용)

from sklearn.linear_model import Lasso
clf_lasso = Lasso(alpha = 0.01)
clf_lasso.fit(X_tn_std, y_tn)

Lasso(alpha=0.01)

In [24]:
# 엘라스틱넷(Lassso + Ridge)

from sklearn.linear_model import ElasticNet
clf_elastic = ElasticNet(alpha = 0.01, l1_ratio = 0.01)
clf_elastic.fit(X_tn_std, y_tn)

ElasticNet(alpha=0.01, l1_ratio=0.01)

In [25]:
# 예측

pred_Ir = clf_Ir.predict(X_te_std)
pred_ridge = clf_ridge.predict(X_te_std)
pred_lasso = clf_lasso.predict(X_te_std)
pred_elastic = clf_elastic.predict(X_te_std)

In [26]:
# 모형 평가 R 제곱값

from sklearn.metrics import r2_score

print(r2_score(y_te, pred_Ir))
print(r2_score(y_te, pred_ridge))
print(r2_score(y_te, pred_lasso))
print(r2_score(y_te, pred_elastic))

0.6356579858727396
0.6349209121206685
0.6345949460914186
0.6328909178519289

In [27]:
# 모형 평가 - MSE

from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_te, pred_Ir))
print(mean_squared_error(y_te, pred_ridge))
print(mean_squared_error(y_te, pred_lasso))
print(mean_squared_error(y_te, pred_elastic))

29.766383836906304
29.826602036755734
29.85323314041169
29.992450569856604

In [28]:
# 분류(classification) 모델 사용 개념
## accuracy, precision, recall

#  예측(regression) 모델 사용 개념
## r2, mse

In [29]:
# 로지스틱 회귀 분석

In [30]:
df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\wine_data.csv')

In [31]:
df

,Alcohol,Malic,Ash,Alcalinity,Magesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [33]:
features = ['Alcohol', 'Malic', 'Ash', 'Alcalinity', 'Magesium', 'Phenols', 'Flavanoids', 
            'Nonflavanoids', 'Proanthocyanins', 'Color','Hue', 'Dilution', 'Proline']

X = df[features]
y = df['class']

In [40]:
# 트레이닝/테스트 데이터 분할
from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te=train_test_split(X,y,random_state=0)

In [41]:
#데이터 표준화
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)
X_tn_std = std_scale.transform(X_tn)
X_te_std  = std_scale.transform(X_te)

In [42]:
# 로지스틱 회귀분석(L2 제약식 적용)
from sklearn.linear_model import LogisticRegression
clf_logi_l2 = LogisticRegression(penalty = 'l2')
clf_logi_l2.fit(X_tn_std, y_tn)

LogisticRegression()

In [43]:
# 로지스틱 회귀분석 모형(L2 제약식 적용) 추정 계수
print(clf_logi_l2.coef_)
print(clf_logi_l2.intercept_)

[[ 0.69853977  0.25867826  0.39868195 -0.76815236 -0.00429211  0.18526119
   0.74915884 -0.12654939  0.10401364  0.17318889  0.13724279  0.68065574
   0.98907933]
 [-0.81533159 -0.47295284 -0.74058812  0.54948684 -0.08525548  0.01376966
   0.18741135  0.13017416  0.324744   -1.07084932  0.57591149  0.1276171
  -0.99183488]
 [ 0.11679181  0.21427458  0.34190617  0.21866552  0.08954759 -0.19903085
  -0.93657019 -0.00362477 -0.42875763  0.89766042 -0.71315428 -0.80827284
   0.00275554]]
[ 0.29606777  0.57687138 -0.87293914]

In [44]:
# 예측
pred_logistic = clf_logi_l2.predict(X_te_std)
print(pred_logistic)

[0 2 1 0 1 1 0 2 1 1 2 2 0 1 2 1 0 0 1 0 1 0 0 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 0 0 1 1 1]

In [45]:
# 확률값으로 예측
pred_proba = clf_logi_l2.predict_proba(X_te_std)
print(pred_proba)

[[9.93360060e-01 4.92359807e-03 1.71634194e-03]
 [3.22076323e-04 2.77943948e-04 9.99399980e-01]
 [1.00535859e-02 9.89854907e-01 9.15071461e-05]
 [9.85578241e-01 1.15830075e-02 2.83875127e-03]
 [9.72825954e-02 8.94560998e-01 8.15640637e-03]
 [1.60778757e-01 8.37805552e-01 1.41569030e-03]
 [9.99185889e-01 2.82861666e-04 5.31249532e-04]
 [9.27747541e-04 6.79471537e-03 9.92277537e-01]
 [4.73077770e-03 9.94412333e-01 8.56889586e-04]
 [1.16783305e-03 9.96547896e-01 2.28427103e-03]
 [2.29360201e-02 1.70472078e-02 9.60016772e-01]
 [5.37945912e-04 2.05426668e-03 9.97407787e-01]
 [9.99868646e-01 4.18491948e-05 8.95049101e-05]
 [7.05474922e-02 9.29254258e-01 1.98249912e-04]
 [3.43785273e-03 1.00980993e-03 9.95552337e-01]
 [1.23126171e-04 9.99870752e-01 6.12188768e-06]
 [9.95131651e-01 3.26254700e-03 1.60580153e-03]
 [9.99969651e-01 5.43181185e-06 2.49174273e-05]
 [5.79978522e-03 7.64925188e-01 2.29275027e-01]
 [9.98986465e-01 9.25988748e-04 8.75463768e-05]
 [6.06195463e-02 9.39306550e-01 7.39040446e-05]
 [9.25882697e-01 6.27837302e-02 1.13335726e-02]
 [8.64325234e-01 1.18611525e-01 1.70632406e-02]
 [9.20337682e-03 9.90391986e-01 4.04636869e-04]
 [8.03096284e-03 9.43323093e-01 4.86459442e-02]
 [2.10231896e-03 9.96852364e-01 1.04531664e-03]
 [7.40692563e-03 9.90668938e-01 1.92413614e-03]
 [2.40657478e-04 9.99359613e-01 3.99729891e-04]
 [5.16376453e-02 9.02025848e-01 4.63365069e-02]
 [1.12977542e-03 6.77598807e-04 9.98192626e-01]
 [9.97724118e-01 1.51867988e-03 7.57201761e-04]
 [9.97376389e-01 2.05002683e-03 5.73584571e-04]
 [1.48258810e-02 9.37873310e-01 4.73008093e-02]
 [9.96484888e-01 5.74779620e-04 2.94033228e-03]
 [9.98426642e-01 1.36266080e-03 2.10697132e-04]
 [8.37649851e-01 1.60800116e-01 1.55003223e-03]
 [1.86414568e-02 1.00865635e-02 9.71271980e-01]
 [1.37990086e-03 9.86583550e-01 1.20365494e-02]
 [2.95873397e-03 9.96750087e-01 2.91179395e-04]
 [3.22813864e-03 1.79029495e-03 9.94981566e-01]
 [8.92082442e-01 1.06959827e-01 9.57730949e-04]
 [9.92891436e-01 6.24485249e-03 8.63711508e-04]
 [3.96059760e-03 9.95952977e-01 8.64254988e-05]
 [1.75302707e-03 9.96973503e-01 1.27346965e-03]
 [3.31085009e-04 9.98958865e-01 7.10050342e-04]]

In [46]:
# 정확도(accuracy)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_te, pred_logistic)
print(accuracy)

1.0

In [47]:
# 정밀도(precistion)
from sklearn.metrics import precision_score
precision = precision_score(y_te, pred_logistic, average = 'macro')
print(precision)

1.0

In [48]:
# 리콜
from sklearn.metrics import recall_score
recall = recall_score(y_te, pred_logistic, average = 'macro')
print(recall)

1.0

In [49]:
# F1 스코어
from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_te, pred_logistic)
print(conf_matrix)

[[16  0  0]
 [ 0 21  0]
 [ 0  0  8]]

In [51]:
# 분류 레포트 확인
from sklearn.metrics import classification_report
class_report = classification_report(y_te, pred_logistic)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      1.00      1.00        21
           2       1.00      1.00      1.00         8

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [52]:
# 나이브베이즈

In [53]:
df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\wine_data.csv')
df

,Alcohol,Malic,Ash,Alcalinity,Magesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [54]:
features = ['Alcohol', 'Malic', 'Ash', 'Alcalinity', 'Magesium', 'Phenols', 'Flavanoids', 
            'Nonflavanoids', 'Proanthocyanins', 'Color','Hue', 'Dilution', 'Proline']

X = df[features]
y = df['class']

In [55]:
# 트레이닝/ 테스트 데이터 분할
from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te=train_test_split(X,y,random_state=0)

In [57]:
# 데이터 표준화
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)
X_tn_std = std_scale.transform(X_tn)
X_te_std = std_scale.transform(X_te)

In [59]:
# 나이브 베이즈 학습
from sklearn.naive_bayes import GaussianNB
clf_gnb = GaussianNB()
clf_gnb.fit(X_tn_std, y_tn)

GaussianNB()

In [60]:
# 예측
pred_gnb = clf_gnb.predict(X_te_std)
print(pred_gnb)

[0 2 1 0 1 1 0 2 1 1 2 2 0 0 2 1 0 0 2 0 0 0 0 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 0 0 1 1 1]

In [61]:
# 정확도(accuracy)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_te, pred_gnb)
print(accuracy)

0.9333333333333333

In [62]:
# 정밀도(precision)
from sklearn.metrics import precision_score
precision = precision_score(y_te, pred_gnb, average = 'macro')
print(precision)

0.9259259259259259

In [63]:
# 리콜
from sklearn.metrics import recall_score
recall = recall_score(y_te, pred_gnb, average = 'macro')
print(recall)

0.9523809523809524

In [64]:
# F1 스코어
from sklearn.metrics import f1_score
f1 = f1_score(y_te, pred_gnb, average = 'macro')
print(f1)

0.9351432880844645

In [65]:
# confusion matrix 확인
from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_te, pred_gnb)
print(conf_matrix)

[[16  0  0]
 [ 2 18  1]
 [ 0  0  8]]

In [66]:
# 분류 레포트 확인
from sklearn.metrics import classification_report
class_report = classification_report(y_te, pred_gnb)
print(class_report)

              precision    recall  f1-score   support

           0       0.89      1.00      0.94        16
           1       1.00      0.86      0.92        21
           2       0.89      1.00      0.94         8

    accuracy                           0.93        45
   macro avg       0.93      0.95      0.94        45
weighted avg       0.94      0.93      0.93        45

In [67]:
# 의사결정나무

In [68]:
df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\wine_data.csv')
df

,Alcohol,Malic,Ash,Alcalinity,Magesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [69]:
features = ['Alcohol', 'Malic', 'Ash', 'Alcalinity', 'Magesium', 'Phenols', 'Flavanoids', 
            'Nonflavanoids', 'Proanthocyanins', 'Color','Hue', 'Dilution', 'Proline']

X = df[features]
y = df['class']

In [70]:
# 트레이닝/테스트 데이터 분할
from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te=train_test_split(X,y,random_state=0)

In [71]:
#데이터 표준화
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)
X_tn_std = std_scale.transform(X_tn)
X_te_std  = std_scale.transform(X_te)

In [72]:
# 의사결정나무 학습
from sklearn import tree
clf_tree = tree.DecisionTreeClassifier(random_state=0)
clf_tree.fit(X_tn_std, y_tn)

DecisionTreeClassifier(random_state=0)

In [73]:
# 예측
pred_tree = clf_tree.predict(X_te_std)
print(pred_tree)

[0 2 1 0 1 1 0 2 1 1 2 2 0 1 2 1 0 0 2 0 1 0 1 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 1 0 1 1 1]

In [74]:
# 정확도(accuracy)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_te, pred_tree)
print(accuracy)

0.9333333333333333

In [75]:
# 정밀도(precision)
from sklearn.metrics import precision_score
precision = precision_score(y_te, pred_tree, average='macro')
print(precision)

0.9326599326599326

In [76]:
# 리콜
from sklearn.metrics import recall_score
recall = recall_score(y_te, pred_tree, average='macro')
print(recall)

0.9424603174603176

In [77]:
# F1 score
from sklearn.metrics import f1_score
f1 = f1_score(y_te, pred_tree, average='macro')
print(f1)

0.9349141206870346

In [78]:
# confusion matrix 확인 
from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_te, pred_tree)
print(conf_matrix)

[[14  2  0]
 [ 0 20  1]
 [ 0  0  8]]

In [79]:
# 분류 레포트 확인
from sklearn.metrics import classification_report
class_report = classification_report(y_te, pred_tree)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      0.88      0.93        16
           1       0.91      0.95      0.93        21
           2       0.89      1.00      0.94         8

    accuracy                           0.93        45
   macro avg       0.93      0.94      0.93        45
weighted avg       0.94      0.93      0.93        45

In [2]:
# 서포트 벡터머신

In [3]:
df = pd.read_csv(r'C:\Users\Creed\Documents\GitHub\Mathematical-statistics\머신러닝\code\data\wine_data.csv')
df

,Alcohol,Malic,Ash,Alcalinity,Magesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [4]:
features = ['Alcohol', 'Malic', 'Ash', 'Alcalinity', 'Magesium', 'Phenols', 'Flavanoids', 
            'Nonflavanoids', 'Proanthocyanins', 'Color','Hue', 'Dilution', 'Proline']

X = df[features]
y = df['class']

In [5]:
# 트레이닝/테스트 데이터 분할
from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te=train_test_split(X,y,random_state=0)

In [7]:
# 데이터 표준화
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)
X_tn_std = std_scale.transform(X_tn)
X_te_std = std_scale.transform(X_te)

In [8]:
# 서포트 벡터머신 학습
from sklearn import svm
clf_svm_lr = svm.SVC(kernel = 'linear', random_state=0)
clf_svm_lr.fit(X_tn_std, y_tn)

SVC(kernel='linear', random_state=0)

In [9]:
# 예측
pred_svm = clf_svm_lr.predict(X_te_std)
print(pred_svm)

[0 2 1 0 1 1 0 2 1 1 2 2 0 1 2 1 0 0 1 0 1 0 0 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 0 0 1 1 1]

In [10]:
# 정확도(accuracy)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_te, pred_svm)
print(accuracy)

1.0

In [11]:
# 정밀도(precision)
from sklearn.metrics import precision_score
precision = precision_score(y_te, pred_svm, average= 'macro')
print(precision)

1.0

In [12]:
# 리콜(recall)
from sklearn.metrics import recall_score
recall = recall_score(y_te, pred_svm, average = 'macro')
print(recall)

1.0

In [13]:
# confusion matrix 확인
from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_te, pred_svm)
print(conf_matrix)

[[16  0  0]
 [ 0 21  0]
 [ 0  0  8]]

In [14]:
# 분류 레포트 확인
from sklearn.metrics import classification_report
class_report = classification_report(y_te, pred_svm)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      1.00      1.00        21
           2       1.00      1.00      1.00         8

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45